body {
    background-color: beige;
}
#navbar {
    width: 100%;
    height: 400px;
    background-image: url(ivo-rainha-0rzUepBXHN0-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#book-table {
    margin: 0 auto;
}
.table-header {
    padding-left: 50px;
    padding-right: 50px;
}
table {
    margin: 50px auto;
}
th {
    border: 3px solid black;
    text-align: center;
    font-size: 25px;
}
td {
    border: 1px solid black;
    text-align: center;
}

#form-container {
    margin: 0 auto;
    text-align: center;
}